@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: "Azeret Mono", monospace;

}
/* shared */
.head1{
    text-align: center;
    color:#0D1321;
    font-weight: 800;
    font-size: 32px;
}
.para{
    margin: 24px 72px;
    color: #0D1321;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin-right:9px ;
}
.head2{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color:#0D1321;
    margin: 24px 72px;
    margin-right:87px ;
}
.card{
    display: flex;
    justify-content:space-around;
    margin-right: 98px;
    padding: 10.5px;
   
}
.btn{
    margin-top: 32px;
    margin-left: 70px ;
}
/* Banner starts here */
.banner{
    width: 1440px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.herobg{
    width: 240px;
    height: 240px;
    margin: 0px auto;
    margin-top: 26px;
}
.lowerbanner{
    margin: 0 221px;
    margin-top: 31px;
    text-align: center;

    
}
.banner h1{
 
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: 32px;
    color: #0D1321;
}

.lowerbanner button{
    
    padding:21px 24px;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Azeret Mono", monospace;
    border-radius: 8px;

    
}
/* why web section */
.sec01{
    margin: 80px 97px;
    padding: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
.para0{
    text-align: left;
}
.description{
    width:477px ;
    height:219px ;
}
.sec-btn{
    font-size: 20px;
    font-weight: normal;
    padding:12px 20px;
    background-color: white;
}
.card2{
    margin: 48px;
    padding: 10.5px;
    display: flex;
    justify-content: space-around;

}
.description2{
    width:477px ;
    height:219px;
    text-align: left;
}
.sec01-des{
    text-align: center;
    margin: 24px 47px 48px 24px;
    /* width: 852px;
    height: 52px; */
}
/* Inspiration section */
.vid{
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: 48px;
}
iframe{
    border-radius: 16px;
}
.Inspiration{
    text-align: center;
}
.Inspiration h1{
    margin-bottom: 24px;
}
.Inspiration {
    margin-bottom: 48px;
}
/* target section */
.tsec{
    border: 10px solid red;
    margin: 111px 150px 49px;
}
.text-allign{
    text-align: center;
}


